{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Shoping{% endblock %}

{% block content %}
<div class="shoph2">
    <h1 style="margin-left: 770px;">Shop</h1>
</div>
<div class="wr2">                  
    <img src="{% static 'main/img/11.jpeg' %}">
    <img src="{% static 'main/img/12.jpeg' %}">
    <img src="{% static 'main/img/13.jpeg' %}">
    <img src="{% static 'main/img/14.jpeg' %}">
    <img src="{% static 'main/img/15.jpeg' %}">
    <img src="{% static 'main/img/16.jpeg' %}">
</div>



    {% endblock %}