{% extends 'main/layout.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}
<div class="features">
    <h1>Here you can contact with me</h1>
    

    <ul class="List-contacts">
        <a href="https://www.instagram.com/kristinay_me/"><li>/My instagram/</li></a>
        <a href="mailto:kristina.yushkova@bgaming.com"><li>/Send me email/</li></a>
        <a href="viber://chat?number=%2B375293491910"><li>/Chat with me in Viber/</li></a>
        <a href="https://www.linkedin.com/in/kristina-yushkova-b48451ba/"><li>/My Linkedin/</li></a>
    </ul>  
</div>
{% endblock %}