{% extends 'main/layout.html' %}

{% block title %}Hello{% endblock %}

{% block content %}
   <div class="features_home">
       <h1>Kristina Yushkova</h1>
       <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Pariatur facilis error, libero quos eligendi earum blanditiis 
           odit harum vel similique saepe necessitatibus soluta quidem tempora 
           quo iusto non. Dolorum, ea!Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Pariatur facilis error, libero quos eligendi earum blanditiis 
           odit harum vel similique saepe necessitatibus soluta quidem tempora 
           quo iusto non. Dolorum, ea!</p>
        <form action="https://www.artstation.com/kristinay" target='_blank'>
           <button class="btn btn-warning">Just push!</button>
        </form>
   </div>
    {% endblock %}