{% extends 'main/layout.html' %}

{% block content %}

  {% if form.errors %}
    <p style="text-align: center;">Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p style="margin-left: 330px;">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p style="margin-left: 330px;">Please login to see this page. If you don't have an account <a href="{% url "register" %}">register here</a></p></p>
    {% endif %}
  {% endif %}
 
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table style="margin-left: 330px;">
      <tr style="margin-left: 330px;">
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr style="margin-left: 330px;">
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input style="margin-left: 330px; margin-top: 30px" type="submit" value="login" />
    <input style="margin-left: 330px; margin-top: 30px" type="hidden" name="next" value="{{ next }}" />
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p style="margin-left: 330px; margin-top: 30px"><a href="{% url 'password_reset' %}">Lost password?</a></p>
  
{% endblock %}